<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
	default-lazy-init="true">
	
 	<bean id="fbRetainedScheduled" class="com.enlight.game.schedual.fb.FbRetainedScheduled"/>
	<bean id="fbRetainedMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
   		 <property name="targetObject">
        	<ref bean="fbRetainedScheduled"/>
   		</property>  
    	<property name="targetMethod">  
       		 <value>schedual</value> 
   		 </property>  
	</bean> 
	
	<bean id="fbRetainedTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
    	 <property name="jobDetail" ref="fbRetainedMethod" /> 
     	 <property name="cronExpression" value="0 30 2 * * ?"  /> <!-- 每天凌晨2：30 触发一次 -->
<!--      	  <property name="cronExpression" value="0/3 * * * * ?"  />  -->
	</bean>
	
	<bean id="SpringJobSchedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
    <property name="triggers">
        <list>
            <ref bean="fbRetainedTrigger" />
        </list>
    </property>
	</bean>
	
</beans>