<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
	default-lazy-init="true">
	 
 	<bean id="fbRetainedScheduled" class="com.enlight.game.schedual.fb.FbRetainedScheduled"/> <!-- 用户留存 -->
 	<bean id="fbUserScheduled" class="com.enlight.game.schedual.fb.FbUserScheduled"/><!-- 用户新增、累计 -->
 	<bean id="fbPayScheduled" class="com.enlight.game.schedual.fb.FbPayConversionScheduled"/><!-- 用户付费率 -->
 	<bean id="fbUserActiveScheduled" class="com.enlight.game.schedual.fb.FbUserActiveScheduled"/><!-- 用户活跃 -->
 	<bean id="fbUserIncomeScheduled" class="com.enlight.game.schedual.fb.FbUserIncomeScheduled"/><!-- 收入分析 -->
 	
	<bean id="fbRetainedMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
   		 <property name="targetObject">
        	<ref bean="fbRetainedScheduled"/>
   		</property>  
    	<property name="targetMethod">  
       		 <value>schedual</value> 
   		 </property>  
	</bean>
	<bean id="fbUserMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
   		 <property name="targetObject">
        	<ref bean="fbUserScheduled"/>
   		</property>  
    	<property name="targetMethod">  
       		 <value>schedual</value> 
   		 </property>  
	</bean>
	<bean id="fbPayMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
   		 <property name="targetObject">
        	<ref bean="fbPayScheduled"/>
   		</property>  
    	<property name="targetMethod">  
       		 <value>schedual</value> 
   		 </property>  
	</bean>   
	<bean id="fbUserActiveMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
   		 <property name="targetObject">
        	<ref bean="fbUserActiveScheduled"/>
   		</property>  
    	<property name="targetMethod">  
       		 <value>schedual</value> 
   		 </property>  
	</bean>   
	<bean id="fbUserIncomeMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
   		 <property name="targetObject">
        	<ref bean="fbUserIncomeScheduled"/>
   		</property>  
    	<property name="targetMethod">  
       		 <value>schedual</value> 
   		 </property>  
	</bean>  
	
	<bean id="fbRetainedTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
    	 <property name="jobDetail" ref="fbRetainedMethod" /> 
     	 <property name="cronExpression" value="0 30 2 * * ?"  /> <!-- 每天凌晨2：30 触发一次 -->
     	 <!--  <property name="cronExpression" value="0/3 * * * * ?"  />  -->
	</bean>
	<bean id="fbUserTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
    	 <property name="jobDetail" ref="fbUserMethod" /> 
     	 <property name="cronExpression" value="0 30 2 * * ?"  /> <!-- 每天凌晨2：30 触发一次 -->
<!--      	  <property name="cronExpression" value="0/3 * * * * ?"  />  -->
	</bean>
	<bean id="fbPayTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
    	 <property name="jobDetail" ref="fbPayMethod" /> 
     	 <property name="cronExpression" value="0 30 2 * * ?"  /> <!-- 每天凌晨2：30 触发一次 -->
<!--      	  <property name="cronExpression" value="0/3 * * * * ?"  />  -->
	</bean>
	<bean id="fbUserActiveTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
    	 <property name="jobDetail" ref="fbUserActiveMethod" /> 
     	 <property name="cronExpression" value="0 30 2 * * ?"  /> <!-- 每天凌晨2：30 触发一次 -->
<!--      	  <property name="cronExpression" value="0/3 * * * * ?"  />  -->
	</bean>
	<bean id="fbUserIncomeTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
    	 <property name="jobDetail" ref="fbUserIncomeMethod" /> 
     	 <property name="cronExpression" value="0 30 2 * * ?"  /> <!-- 每天凌晨2：30 触发一次 -->
<!--      	  <property name="cronExpression" value="0/3 * * * * ?"  />  -->
	</bean>
	
	
	<bean id="SpringJobSchedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
	    <property name="triggers">
	        <list>
	            <ref bean="fbRetainedTrigger" />
	            <ref bean="fbUserTrigger" />
	            <ref bean="fbPayTrigger" />
	            <ref bean="fbUserActiveTrigger" />
	            <ref bean="fbUserIncomeTrigger" />
	        </list>
	    </property>
	</bean> 
	
</beans>