<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
	default-lazy-init="true">
	
	<bean id="kdsRetainedScheduled" class="com.enlight.game.schedual.kds.KdsRetainedScheduled"/> <!-- 用户留存 -->
 	<bean id="kdsUserScheduled" class="com.enlight.game.schedual.kds.KdsUserScheduled"/><!-- 用户新增、累计 -->
 	<bean id="kdsPayScheduled" class="com.enlight.game.schedual.kds.KdsPayConversionScheduled"/><!-- 用户付费率 -->
 	<bean id="kdsUserActiveScheduled" class="com.enlight.game.schedual.kds.KdsUserActiveScheduled"/><!-- 用户活跃 -->
 	<bean id="kdsUserIncomeScheduled" class="com.enlight.game.schedual.kds.KdsUserIncomeScheduled"/><!-- 收入分析 -->
 	<bean id="kdsPayPenetrationScheduled" class="com.enlight.game.schedual.kds.KdsPayPenetrationScheduled"/><!-- 收入分析 arpu arppu-->
 	
	<bean id="kdsRetainedMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
   		 <property name="targetObject">
        	<ref bean="kdsRetainedScheduled"/>
   		</property>  
    	<property name="targetMethod">  
       		 <value>schedual</value> 
   		 </property>  
	</bean>
	<bean id="kdsUserMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
   		 <property name="targetObject">
        	<ref bean="kdsUserScheduled"/>
   		</property>  
    	<property name="targetMethod">  
       		 <value>schedual</value> 
   		 </property>  
	</bean>
	<bean id="kdsPayMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
   		 <property name="targetObject">
        	<ref bean="kdsPayScheduled"/>
   		</property>  
    	<property name="targetMethod">  
       		 <value>schedual</value> 
   		 </property>  
	</bean>   
	<bean id="kdsUserActiveMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
   		 <property name="targetObject">
        	<ref bean="kdsUserActiveScheduled"/>
   		</property>  
    	<property name="targetMethod">  
       		 <value>schedual</value> 
   		 </property>  
	</bean>   
	<bean id="kdsUserIncomeMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
   		 <property name="targetObject">
        	<ref bean="kdsUserIncomeScheduled"/>
   		</property>  
    	<property name="targetMethod">  
       		 <value>schedual</value> 
   		 </property>  
	</bean>  
	<bean id="kdsPayPenetrationMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
   		 <property name="targetObject">
        	<ref bean="kdsPayPenetrationScheduled"/>
   		</property>  
    	<property name="targetMethod">  
       		 <value>schedual</value> 
   		 </property>  
	</bean>  
	
	<bean id="kdsRetainedTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
    	 <property name="jobDetail" ref="kdsRetainedMethod" /> 
     	 <property name="cronExpression" value="0 40 2 * * ?"  /> <!-- 每天凌晨2：30 触发一次 -->
     	 <!--  <property name="cronExpression" value="0/3 * * * * ?"  />  -->
	</bean>
	<bean id="kdsUserTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
    	 <property name="jobDetail" ref="kdsUserMethod" /> 
     	 <property name="cronExpression" value="0 40 2 * * ?"  /> <!-- 每天凌晨2：30 触发一次 -->
<!--      	  <property name="cronExpression" value="0/3 * * * * ?"  />  -->
	</bean>
	<bean id="kdsPayTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
    	 <property name="jobDetail" ref="kdsPayMethod" /> 
     	 <property name="cronExpression" value="0 40 2 * * ?"  /> <!-- 每天凌晨2：30 触发一次 -->
<!--      	  <property name="cronExpression" value="0/3 * * * * ?"  />  -->
	</bean>
	<bean id="kdsUserActiveTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
    	 <property name="jobDetail" ref="kdsUserActiveMethod" /> 
     	 <property name="cronExpression" value="0 40 2 * * ?"  /> <!-- 每天凌晨2：30 触发一次 -->
<!--      	  <property name="cronExpression" value="0/3 * * * * ?"  />  -->
	</bean>
	<bean id="kdsUserIncomeTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
    	 <property name="jobDetail" ref="kdsUserIncomeMethod" /> 
     	 <property name="cronExpression" value="0 40 2 * * ?"  /> <!-- 每天凌晨2：30 触发一次 -->
<!--      	  <property name="cronExpression" value="0/3 * * * * ?"  />  -->
	</bean>
	<bean id="kdsPayPenetrationTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
    	 <property name="jobDetail" ref="kdsPayPenetrationMethod" /> 
     	 <property name="cronExpression" value="0 40 2 * * ?"  /> <!-- 每天凌晨2：30 触发一次 -->
	</bean>
	
	<bean id="xyjRetainedScheduled" class="com.enlight.game.schedual.xyj.XyjRetainedScheduled"/> <!-- 用户留存 -->
 	<bean id="xyjUserScheduled" class="com.enlight.game.schedual.xyj.XyjUserScheduled"/><!-- 用户新增、累计 -->
 	<bean id="xyjPayScheduled" class="com.enlight.game.schedual.xyj.XyjPayConversionScheduled"/><!-- 用户付费率 -->
 	<bean id="xyjUserActiveScheduled" class="com.enlight.game.schedual.xyj.XyjUserActiveScheduled"/><!-- 用户活跃 -->
 	<bean id="xyjUserIncomeScheduled" class="com.enlight.game.schedual.xyj.XyjUserIncomeScheduled"/><!-- 收入分析 -->
 	<bean id="xyjPayPenetrationScheduled" class="com.enlight.game.schedual.xyj.XyjPayPenetrationScheduled"/><!-- 收入分析 arpu arppu-->
 	
	<bean id="xyjRetainedMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
   		 <property name="targetObject">
        	<ref bean="xyjRetainedScheduled"/>
   		</property>  
    	<property name="targetMethod">  
       		 <value>schedual</value> 
   		 </property>  
	</bean>
	<bean id="xyjUserMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
   		 <property name="targetObject">
        	<ref bean="xyjUserScheduled"/>
   		</property>  
    	<property name="targetMethod">  
       		 <value>schedual</value> 
   		 </property>  
	</bean>
	<bean id="xyjPayMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
   		 <property name="targetObject">
        	<ref bean="xyjPayScheduled"/>
   		</property>  
    	<property name="targetMethod">  
       		 <value>schedual</value> 
   		 </property>  
	</bean>   
	<bean id="xyjUserActiveMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
   		 <property name="targetObject">
        	<ref bean="xyjUserActiveScheduled"/>
   		</property>  
    	<property name="targetMethod">  
       		 <value>schedual</value> 
   		 </property>  
	</bean>   
	<bean id="xyjUserIncomeMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
   		 <property name="targetObject">
        	<ref bean="xyjUserIncomeScheduled"/>
   		</property>  
    	<property name="targetMethod">  
       		 <value>schedual</value> 
   		 </property>  
	</bean>  
	<bean id="xyjPayPenetrationMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
   		 <property name="targetObject">
        	<ref bean="xyjPayPenetrationScheduled"/>
   		</property>  
    	<property name="targetMethod">  
       		 <value>schedual</value> 
   		 </property>  
	</bean>  
	
	<bean id="xyjRetainedTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
    	 <property name="jobDetail" ref="xyjRetainedMethod" /> 
     	 <property name="cronExpression" value="0 10 3 * * ?"  /> <!-- 每天凌晨2：30 触发一次 -->
     	 <!--  <property name="cronExpression" value="0/3 * * * * ?"  />  -->
	</bean>
	<bean id="xyjUserTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
    	 <property name="jobDetail" ref="xyjUserMethod" /> 
     	 <property name="cronExpression" value="0 10 3 * * ?"  /> <!-- 每天凌晨2：30 触发一次 -->
<!--      	  <property name="cronExpression" value="0/3 * * * * ?"  />  -->
	</bean>
	<bean id="xyjPayTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
    	 <property name="jobDetail" ref="xyjPayMethod" /> 
     	 <property name="cronExpression" value="0 10 3 * * ?"  /> <!-- 每天凌晨2：30 触发一次 -->
<!--      	  <property name="cronExpression" value="0/3 * * * * ?"  />  -->
	</bean>
	<bean id="xyjUserActiveTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
    	 <property name="jobDetail" ref="xyjUserActiveMethod" /> 
     	 <property name="cronExpression" value="0 10 3 * * ?"  /> <!-- 每天凌晨2：30 触发一次 -->
<!--      	  <property name="cronExpression" value="0/3 * * * * ?"  />  -->
	</bean>
	<bean id="xyjUserIncomeTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
    	 <property name="jobDetail" ref="xyjUserIncomeMethod" /> 
     	 <property name="cronExpression" value="0 10 3 * * ?"  /> <!-- 每天凌晨2：30 触发一次 -->
<!--      	  <property name="cronExpression" value="0/3 * * * * ?"  />  -->
	</bean>
	<bean id="xyjPayPenetrationTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
    	 <property name="jobDetail" ref="xyjPayPenetrationMethod" /> 
     	 <property name="cronExpression" value="0 10 3 * * ?"  /> <!-- 每天凌晨2：30 触发一次 -->
	</bean>
	
<!-- 日志监控值调度 start -->
	<bean id="gameValueScheduled" class="com.enlight.game.schedual.GameValueScheduled"/> 
	<bean id="gameValueMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
   		 <property name="targetObject">
        	<ref bean="gameValueScheduled"/>
   		</property>  
    	<property name="targetMethod">  
       		 <value>schedual</value> 
   		 </property>  
	</bean>
	<bean id="gameValueTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
    	 <property name="jobDetail" ref="gameValueMethod" /> 
		 <property name="cronExpression" value="0 */5 * * * ?"  />
     	 <!-- <property name="cronExpression" value="0/30 * * * * ?"  /> -->
	</bean>
<!-- 日志监控值调度 end -->
	
	<bean id="SpringJobSchedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
	    <property name="triggers">
	        <list>
	            <ref bean="kdsRetainedTrigger" />
	            <ref bean="kdsUserTrigger" />
	            <ref bean="kdsPayTrigger" />
	            <ref bean="kdsUserActiveTrigger" />
	            <ref bean="kdsUserIncomeTrigger" />
	            <ref bean="kdsPayPenetrationTrigger" />
	            
	            <ref bean="xyjRetainedTrigger" />
	            <ref bean="xyjUserTrigger" />
	            <ref bean="xyjPayTrigger" />
	            <ref bean="xyjUserActiveTrigger" />
	            <ref bean="xyjUserIncomeTrigger" />
	            <ref bean="xyjPayPenetrationTrigger" />
	            
	            <!-- 日志监控值调度 start -->
	             <ref bean="gameValueTrigger" />
	             <!-- 日志监控值调度 end -->
	        </list>
	    </property>
	</bean> 
	
</beans>