body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {padding: 0;margin: 0;}
body {font-family: '微软雅黑','黑体','宋体', Verdana, sans-serif; background: #EFEFEF; font-size:12px;}
table {border-collapse: collapse;border-spacing: 0;}
img{ display:block; border:none;} a{ text-decoration:none;}
ul li{ list-style:none;}
input { border: 0; margin: 0; padding: 0px; background: none; height: 20px; line-height: 20px; border-radius: 3px; }
.fs18{ font-size:18px;} .brs5{ border-radius:5px;}
.mb60{ margin-bottom:60px;}
.ts1 { text-shadow: 0px -1px 1px #666; } 
.ts2 { text-shadow: 0px 1px 1px #fff; }
.fl{ float:left;} .fr{ float:right;}.clear{ clear:both;}
.clearfix:after {clear: both; content: ".";display: block;height: 0;visibility: hidden;}
.top_nav_wrap{ height:44px;background: -webkit-linear-gradient(top,#fb9f00,#df610c); color:#fff;}
.t_back{background: url(icon_back.png) no-repeat left center; background-size: contain; padding-left: 24px; color: #fff; font-size: 14px; margin-top: 11px; margin-left: 10px; width: 30px; height: 19px; line-height: 19px; overflow: hidden;}
.t_bar li { float:left; width: 56px; height: 41px; background: url(topbar_line.png) right no-repeat; background-size: contain; }
.t_bar li:last-child { background: none; }
.t_bar li a { display:block;text-align: center; padding-top:5px; color: #fff;}
.t_bar li img{ width:16px; height:16px; margin:0 auto;}
/* 购物数量_bar*/
.p_floatbox{width: 100%; height:50px;}
.p_buy{padding-left:10px; height:50px; line-height: 50px;background: #f5f5f5; border-bottom:1px solid #ddd;}
.p_buy strong{ color:#f96500; padding:0 5px; font-weight:normal;}
.p_btn_buy,.p_btn_buyed{display: block; float: right; width: 90px; height: 30px; background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#63B908), to(#459605)); line-height: 30px;margin:10px 10px 0px 0px; color: #fff; text-align: center; border-radius: 5px}
.p_btn_buyed{background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccc), to(#999));}
/* 产品_list */
.f_list .f_list_l{float: left; width: 70%;}
.f_list_l a{ color:#333333;}
.f_list .f_list_r{float: right; width: 25%; text-align: right; margin-right: 10px}
.f_list .f_list_r a{display: block; width: 100%; height: 25px; line-height: 25px; font-size: 12px; margin-top: 5px}
.i_list ul li { position: relative; border-top: #DBDBDB 1px dashed; padding: 10px;  clear: both; }
.i_list ul li:first-child, .u_order li:first-child { border-top: none; }
.i_list ul li img { float: left; width: 75px; height: 55px; margin-right: 10px; }
.i_list ul li h3 { font-size: 100%; color: #333; height: 30px; overflow: hidden; margin-bottom: 5px;}
.i_list ul li .tui_price { background: #fff; padding: 0; }
.i_list ul li .tui_price strong { font-size: 150%; }
.i_list ul li .hot { position: absolute; top: -1px; left: 0px; width: 42px; height: 42px; overflow: hidden; z-index: 2; }
.i_list ul li .hot strong { display: inline-block; width: 60px; background: #EB6100; color: #fff; font-size: 80%; text-align: center; padding: 16px 0 1px 0px; -webkit-transform: rotate(-45deg) translate(-10px, -25px); }
.tui_price { padding: 5px 10px; background: #ebebeb; margin-top: -2px; }
.tui_price strong { color: #f60; font-size: 20px; }
.u_order_return{display: block; width: auto; height: 30px; text-align: center; line-height: 30px; margin:10px; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#63B908), to(#459605)); border: 1px solid #459605; color:#fff; font-size: 16px}
.more { display: block; text-align: center; line-height: 36px;  background: #fbfbfb; color: #666  }
/* 产品详情*/
.banner{width: 100%; height: 180px; overflow: hidden; position: relative;}
.banner img{width: 100%;}
.p_title{position: absolute;  left: 0px; bottom:0px; right:0px; max-height: 30px; font-size: 14px; color: #fff; padding:5px; z-index:10; white-space:nowrap; }
.p_title_bg{position: absolute;  left: 0px; bottom:0px; right:0px; width:100%; height:30px;text-shadow:0px 1px 1px #333;overflow: hidden; background:#000000; opacity:0.5;}
.f_list_car span{ font-size: 12px;}
.f_list_car .all_price{margin-left: 10px}
.p_mod{ background: #fff; margin: 10px 10px 0px 10px; padding: 10px; border: 1px solid #ddd; border-radius: 5px; position: relative; }
.p_mod:after,.f_mod:after{ content: " "; display: block; width: 2px; height: 15px; background: #63B908; position: absolute; top: 11px; left: 0px }
.p_mod_title { font-size: 12px; color: #63B908; padding: 0px 0px 10px 0px; border-bottom: 1px solid #ddd; margin-bottom: 10px; }
.p_con, .p_con p { line-height: 1.8em; }
.p_to_desc { display: block; border-top: 1px solid #ddd; margin: 10px 0px -10px 0px; padding: 10px 0px; position: relative; color:#333333;}
.gt { display: block; width: 5px; height: 5px; border-top: 2px solid #ccc; border-right: 2px solid #ccc; position: absolute; right: 15px; top: 50%; margin-top: -2px; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); }
.p_seller_info { padding: 0px }
.p_seller_info a { display: block; position: relative; padding: 10px;color:#333333;}
.p_seller_info a .gt { margin-top: -4px; }
.p_seller_info span { float: right; margin-right: 20px; color: #f60 }
.p_tips:after { display: none }
.p_tips span { float: left; display: block; height: 15px; padding-left: 20px; color: #587f01 }
.p_tips .p_tui { float: right; background: url(ico_tui1.png) no-repeat left center; background-size: contain; }
.p_tips .p_ren { background: url(ico_ren.png) no-repeat left center; background-size: contain; margin-right: 10px; }
.i_list.area{ margin:0; border:none;}
.f_order_list dt{font-size: 14px; color: #63B908; padding: 5px 10px; background: #f5f5f5;}
.f_order_list dd{display: inline-block; border:1px solid #e0e0e0;  margin: 10px 5px; padding:10px;}
.f_order_list dd label{display: block;}
.f_order_list dd input{display: none;}
.f_order_list dd.on{border:2px solid #f90; padding: 9px; position: relative; color: #F90}
.f_order_list dd.on:after{content: " "; position: absolute; right: 0px; bottom: 0px; width: 0px; height: 0px; border-right: 5px solid #f90; border-bottom: 5px solid #f90; border-left: 5px solid #fff; border-top: 5px solid #fff;}
.f_order_list input{margin-top:10px;}
.o_address p{vertical-align: middle; margin: 10px 0px 10px 0px}
.o_address a{margin-left: 38px}
.o_address a:link,.o_address a:visited{color: #63B908}


/* 购物车*/
.car{margin-top:-10px;}
.car_list{padding: 15px 0px; border-bottom:1px solid #ccc;}
.car_list img{ float: left;	width: 80px; height: 80px;  margin-right: 10px;}
.car_list h3{ font-size: 14px; margin-bottom: 8px;}
.car_list span{	display: block; margin-bottom:10px;}
.car_list .o_num_input{display:block; height:30px; margin:0px 0px 10px 0px; vertical-align: middle;}
.car_property{float:left;}
.car p{height: 40px; padding-left: 15px; line-height: 40px; margin-bottom: -10px}
.car .price_now font{color: #f60; font-size: 18px; font-weight: bold;}
.car_list .u_order_return{display: inline-block; width: 70px; height: 30px; font-size: 14px; line-height: 30px; margin: 0px}
.p_to_desc input{display:none;}
.o_btn { margin: 10px; }
.o_btn input { height: 35px; line-height: 35px; font-size: 14px; color: #fff }
.o_btn_back { float: left; width: 40%; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f90), to(#f60)); border: 1px solid #f60; }
.o_btn_submit { float: right; width: 55%; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#63B908), to(#459605)); border: 1px solid #459605; }
.o_num_input { margin-left: 40px;}
.o_num_input a { display: block; float: left; width: 20px; height: 20px; border-radius: 5px; text-align: center; line-height: 20px; font-size: 20px; font-weight: 300; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e7e7e7), to(#c5c5c5)); color: #666; border: 1px solid #ccc; position: relative;}
.o_num_input a:after{content:""; display:block; width:30px; height:30px;  position:absolute; top:-5px; left:-5px; z-index: 9}
.o_num_input a.on { background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffeb9a), to(#e5a815)); color: #bc8900; border: 1px solid #bc8900; }
.o_num_input input { float: left; width: 80px; height: 20px; margin: 0 8px; border: 1px solid #ccc; border-radius: 3px; font-size: 150%; font-family: arial; }
/* 搜索*/
.f_index_search{margin: 5px}
.search_box{ float:left; width: 70%; height: 30px; background: #fff; border:1px solid #ccc; border-radius: 5px; box-shadow: 0px 0px 5px #ddd; padding-left: 10px; font-size: 14px; vertical-align: middle;}
.search_button{ float:right; width: 24%; height: 30px; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#63B908), to(#459605)); color: #fff; border:1px solid #63B908; border-radius: 5px;}

.tab_control{width: 100%; height: 30px;}
.tab_control dd{width: 33%;	height: 100%; background: #999; box-shadow: -1px 0px 1px #fff; box-shadow: 1px 0px 1px #fff inset; float: left; margin:0px;	text-align: center;	line-height: 30px; }
.tab_control a{display: block;}
.tab_control a:link, .tab_control a:visited, .tab_control a:hover, .tab_control a:active{ color: #fff;}
.tab_control a.on{ background: #587f01; border-left: 1px solid #FFF;}
/* one_list */
.one_list ul li { float: left; width: 44%; margin-top: 20px; margin-left: 3%; }
.one_list ul li a { display: block; padding-top: 90px; width: 100%; height: 24px; line-height: 24px; text-align: center; font-size: 20px; color:#3a3a3a; }
.one_list ul li a.icon_1 { background: url(icon_1.png) top center no-repeat; background-size: 110px 90px; }
.one_list ul li a.icon_2 { background: url(icon_2.png) top center no-repeat; background-size: 110px 90px; }
.one_list ul li a.icon_3 { background: url(icon_3.png) top center no-repeat; background-size: 110px 90px; }
.one_list ul li a.icon_4 { background: url(icon_4.png) top center no-repeat; background-size: 110px 90px; }
.one_list ul li a.icon_5 { background: url(icon_5.png) top center no-repeat; background-size: 110px 90px; }
.one_list ul li a.icon_6 { background: url(icon_6.png) top center no-repeat; background-size: 110px 90px; }
/* two_list */
.two_list ,.i_list{ margin: 10px; background: #fff; border: #ddd solid 1px; border-radius: 5px; }
.two_list h1 { font-size: 80%; line-height: 36px; color: #539a10; padding-left: 10px; font-size:14px; position:relative; font-weight:normal; }
.two_list dl { border-top: #D8D8D8 solid 1px; }
.two_list dl dt { background: #e2e2e2; color: #686868; font-size: 105%; text-shadow: 0 1px 0 #fff; border-bottom: #D8D8D8 solid 1px; padding-left: 20px; line-height: 2.6; margin-top: 1px; position: relative;font-weight: bold; }
.two_list dl dt a { display: block; color:#333333;}
.two_list dl dt a i { position: absolute; top: 50%; right: 20px; margin-top: -5px; width: 10px; height: 10px; border-top: #666 2px solid; border-right: #666 2px solid; -webkit-transform: rotate(45deg); }
.two_list dl dt a.current i { margin-top: -3px; -webkit-transform: rotate(-45deg); }
.two_list dl dd { padding-top: 10px; display: none; }
.two_list dl dd a { display: inline-block; margin-left: 10px; margin-bottom: 10px; padding: 0 10px; line-height: 20px; background: #ededeb; border: #ccc7c3 1px solid; }
.two_list dl dd a.current { border: #cb940d solid 1px; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fdd75b), to(#e7ae1c)); box-shadow: 0 1px 1px #fef1bf inset; }

 /* 用户注册  */
.register {margin:10px; padding:18px 0; background:#fff; border:1px solid #ddd;  text-align:center; border-radius:5px; color:#333333;}
.register h3{font-size:15px; text-align:center; font-weight:normal;}
.register  p a{ color:#333333;}
.register  p{margin-top:10px;}
.register p input{border:1px solid #ddd; padding-left:5px; height:22px; line-height:normal; vertical-align:middle;}
.register label{ display:inline-block;width:75px; font-size:14px; text-align:left}
.register  a.blue{color:blue; text-decoration:underline; margin-left:-15px;}
.register  p .re_btn{ display:inline-block; width:90px; height:30px; line-height:30px;  background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#63B908), to(#459605)); border:none; border-radius:5px; text-align:center;color:#fff; margin-top:10px;}
 /* 模板样式  */
.o_success{ background: #fff; margin: 10px 10px 0px 10px; padding: 10px; border: 1px solid #ddd; border-radius: 5px; position: relative; color:#333333; }
.o_success ul li strong { display: inline-block; float: left; white-space: nowrap; }
.o_success h1 { text-align: center; font-size: 18px; font-weight: normal; padding-bottom: 10px; border-bottom: 1px solid #ddd; color: #63B908 }
.o_success li { padding: 10px 0px; border-bottom: 1px solid #ddd; line-height: 22px; font-size: 15px }
.o_success li:last-child { border-bottom: none }
.o_success li a { float: left; max-width: 82%; }

 /* 页脚  */
.footer{margin:20px 0;}
.footer ul{ margin:0 5%; font-size:14px; border-radius:5px; border:1px solid #ff8100; height:38px; line-height:38px; background:#FFFFFF;}
.footer ul li{ float:left; text-align:center; width:24.5%; border-right:1px solid #ff8100;}
.footer ul li:last-child { border-right: none }
.footer ul.w3 li{ width:33%;}
.footer ul li a{ color:#757575; display:block;}
