.pl {font: 12px Arial,Helvetica,sans-serif;line-height: 150%;color: #666;}
ul, ol{list-style-type: none;margin: 0;padding: 0;list-style-position: outside;}
.interset .num {color: #000;font-weight: bold;}
body, td, th {font: 12px Helvetica,Arial,sans-serif;line-height: 1.62;}
.content{padding:0 5px 0 5px}